
header {
    width: 100%;
    height: 100%;

    .header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .site-logo {
            height: 100%;
            display: flex;
            align-items: center;

            .home-link {
                font-family: cursive;
                font-style: italic;
                font-size: 1.5em;
                text-decoration: none;
                font-weight: bold;
            }
        }

        .navigations {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin: 0 .3em;

                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Times New Roman', Times, serif;

                        .icon {
                            margin-right: .05em;
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }

        .swithcer {
            height: 100%;
            display: flex;
            align-items: center;

            button {
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.5em;
            }

            .contact-link {
                padding: .15em 1.3em;
                border-radius: .17em;
                margin-left: .35em;
            }
        }
    }
}