
.main-home-container {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .home {
        width: 100%;
        height: 100%;
        overflow: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 0;
        }

        .home-con {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: .35em 0;
            margin-right: .5em;

            .about-me {
                flex-basis: 1250px;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-grow: 1;

                h1, h3 {
                    font-family: 'Times New Roman', Times, serif;
                    font-style: italic;
                    margin: .05em;
                }

                p {
                    padding: .15em;
                    border-radius: .15em;
                    text-align: justify;
                    margin: .5em;
                }
            }

            .image-con {
                flex-grow: 1;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                position: relative;

                div {
                    border: 3px solid rgb(74, 74, 74);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    bottom: -.75em;
                    right: -.75em;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    height: 100%;
                    width: 100%;
                    z-index: 23;
                }
            }
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1.75em;
            border: 2px solid black;

            h3 {
                margin: .75em;
                font-size: 1.3em;
                font-family: 'Times New Roman', Times, serif;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 1.75em;
                    margin-right: .3em;
                }
            }

            .skill-list {
                display: flex;
                flex-grow: 1;

                .frontend {
                    padding: .35em;
                    border-radius: .3em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 .35em;

                    h4 {
                        margin: .35em;
                    }

                    p {
                        text-align: justify;
                        padding: .35em;
                    }
                }
            }
        }

        .project-container {
            margin-top: .5em;
            margin-bottom: .5em;
            display: flex;
            flex-direction: column;
            align-items: center;
           

            h3 {
                margin: .5em;
                font-size: 1.3em;
                font-family: 'Times New Roman', Times, serif;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 1.75em;
                    margin-right: .3em;
                }
            }

            .project-list {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                .con-1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 .75em;

                    p {
                        text-align: justify;
                    }
                }
            }
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: .75em 0;

            h3 {
                margin: .5em;
                font-size: 1.3em;
                font-family: 'Times New Roman', Times, serif;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 1.75em;
                    margin-right: .3em;
                }
            }

            .contact-link {
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin: .3em;
                }
            }
        }
    }
}