

.services-con {
    width: 100%;
    margin-top: .85em;
    background: rgb(213, 213, 213);

    h3 {
        text-align: center;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        margin: .5em;
        color: $primary-text-color;

        .service-icon {
            font-size: 1.75em;
            margin-right: .25em;
        }
    }


}